Packages
.build
xcuserdata
*.xcodeproj
DerivedData/
.DS_Store
db.sqlite
.swiftpm
/docker-compose.yml
/Dockerfile
/.dockerignore
Secrets.swift
/Sources/App/Helpers/Secrets.swift
Sources/App/Helpers/Secrets.swift
/Sources/App/Helpers/fcm.json